@page
@*@model Memory.Pages.Shared._GamePartialModel*@
@model List<string>
@{
    ViewData["Title"] = "_GamePartial";
}

<h2>_GamePartial</h2>
@foreach (var item in Model)
{
    
    <h2>@item</h2>
}
