/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.title-memory{
    color:#808080;
    font-weight:bold;
    font-size:40px;
}
.container-menu-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-menu-images > img {
width:200px;
margin:10px;
}

.container-menu-input {
    display: flex;
    flex-direction: column;
}
.container-menu-input > input[type="submit"] {
        background: #0094ff;
        max-width: 170px;
        font-weight: bold;
        margin-top: 30px;
        border: none;
    }
    .container-menu-input > input[type="text"] {
        width: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
    }
    .container-menu-input > select{
        width:200px;
        margin-top:5px;
   
    }
    .container-menu-input > input[type="submit"]:hover {
        background: #0055d5;
    }

.container-game-players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.container-game-players > div{
    display: flex;
    flex-direction: column;
}
.container-game-cards {
    display: grid;
    max-width: 500px;
    grid-template-columns: repeat(4,1fr);
}
.card{
    margin:10px;
   
}
.content-item-game {
    margin-top: 50px;
}

.item-game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:20px;
    padding: 15px 20px 10px 20px;
    background: #f3f3f3;
}
.item-game-info{
   display:flex;
   flex-direction:column;
   text-align:left;
}
item-game-input{
     display:flex;
     flex-direction:row;
}
.item-game-info-create {
    color:#808080;
}
.item-game-info-name{
    font-weight:bold;
    font-size:15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
