@page
@model IndexModel
@{
    ViewData["Title"] = "MEMORY";
}

<div>
    <span class="title-memory">@ViewData["Title"]</span>
    <div class="container-menu-images">
        <img src="~/images/logo.svg" />

    </div>
    <form method="post">
        <div class="container-menu-button">

            <input type="submit" asp-page="./editPartie" class="btn btn-primary" value="Nouvelle partie"/>
            <input type="submit" asp-page="./listPartie"  class="btn btn-primary" value="Reprendre une partie"/>
            <input type="submit" asp-page="./listScore"  class="btn btn-primary" value="Voir les scores"/>
    </div>
    </form>
</div>
